.banner {
  @include flex(center);
  flex-wrap: wrap-reverse;

  .content {
    flex: 1 1 40rem;

    span {
      font-size: 2.5rem;
      color: $red;
    }

    h3 {
      @include titleText(4rem);
      padding-top: 1rem;
    }

    p {
      @include graphText(1.6rem);
      padding: 1rem 0;
    }
  }

  .image {
    flex: 1 1 40rem;

    img {
      width: 100%;
    }
  }
}
