.contact {
  .row {
    @include flex(center);
    form {
      flex: 1 1 40rem;
      margin-bottom: 3rem;

      .box {
        padding: 2rem 0;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        border-bottom: $border;
        width: 100%;

        &:focus {
          border-color: $red;
        }
      }

      textarea {
        resize: none;
        height: 15rem;
      }
    }
  }
  .contact-info {
    flex: 1 1 40rem;
    h3 {
      padding-bottom: 1rem;
      @include titleText(3rem);
    }
    .grapgh {
      @include graphText(1.5rem);
    }
    .icons {
      padding: 1.5rem 0;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      i {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        border-radius: 50%;
        font-size: 2rem;
        background: $red;
        color: $white;
        text-align: center;
      }
      .info {
        p {
          @include graphText(1.5rem);
        }
      }
    }
  }

  .share {
    padding-top: 2rem;

    a {
      font-size: 3rem;
      margin-right: 1rem;
      color: $light-color;

      &:hover {
        color: $red;
      }
    }
  }
}
