* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  font-family: "Montserrat", sans-serif;
}

$red: #ed2d34;
$black: #444;
$white: #fff;
$light-color: #666;
$border: 0.2rem solid $black;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@mixin flex($align) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

@mixin titleText($titleSize) {
  font-size: $titleSize;
  text-transform: capitalize;
  color: $black;
}

@mixin graphText($graphSize) {
  font-size: $graphSize;
  line-height: 2;
  color: $light-color;
  padding: 1rem 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $red;
  }
}

body {
  background: url(../assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#menu-btn {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 5rem;
  height: 5rem;
  background: $red;
  color: $white;
  line-height: 5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1100;
  text-align: center;
}
