.products {
  .slide {
    text-align: center;

    img {
      height: 25rem;
      margin: 5rem 0;
      transform: scale(0.5);
    }

    h3 {
      padding: 1rem 0;
      @include titleText(2.5rem);
    }
    .btn {
      opacity: 0;
    }
  }

  //Botão aparece somente no produto selecionado
  .swiper-slide-active {
    img {
      transform: scale(1);
    }

    h3,
    .btn {
      opacity: 1;
    }
  }
}

.products-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;

  .product-preview {
    @include flex(center);
    background: $white;
    position: relative;
    padding: 9%;

    .fa-times {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 4rem;
      cursor: pointer;
      color: $light-color;

      &:hover {
        color: $red;
        transform: rotate(90deg);
      }
    }

    .image {
      flex: 1 1 40rem;

      img {
        width: 100%;
      }
    }

    .content {
      flex: 1 1 40rem;

      h3 {
        @include titleText(3rem);
      }

      p {
        @include graphText(1.5rem);
      }

      .stars {
        padding: 1rem 0;
        font-size: 1.7rem;
        margin-bottom: 1.5rem;

        i {
          color: $red;
        }

        span {
          color: $light-color;
        }
      }
    }
  }
}
